<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{- if .Head -}}
			{{- print "\n\t\t" .Head "\n\t" -}}
		{{- else -}}
			{{- print "\n\t\t" "<title>Hello, world!</title>" "\n\t" -}}
		{{- end -}}
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root">{{if .Root}}{{.Root}}{{end}}</div>
		<script src="/app.js"></script>
	</body>
</html>
